html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*=================
Start of Rules after reset
===================*/
body{
	font-family: Open Sans;
}


/*
================================
Header
================================
*/
.navbar {
	display: inline-block;
	width: 100%;
	height:40px;
	line-height: 40px;
	vertical-align: middle;
	max-width: 900px;
	}
	.navbar .vks {
		padding-left:100px;
	}
.navbar a {
	text-decoration: none;
	color:black;
	vertical-align: middle;
	height:24px;
	line-height: 24px;
}
.navbar img{
	height:24px;
	line-height: 24px;
	vertical-align: middle;
	padding-right: 10px;

}
.cart {
	float:right;
	width:20%;
	display: inline-block;
	text-decoration: none;
}

.header-image {
	position:relative;
	margin-left: 20px;
	margin-right: 20px;
	max-height: 350px;
	max-width: 900px;
	height:350px;
	width:100%;
	border: solid 1px;
	min-width: 700px;

}


.header-image img {
	height: 100%;
	width:100%;

	
	
}
.header-image h1 {
	position: absolute;
	
	top:130px;
	border: solid 1px;
	left:50%;
	
	margin-left: -300px; 	
	letter-spacing: 3px;
	color: grey;
	text-shadow: 2px 2px #5e5e5e;
	font-size: 500%;
}
.tagline1 {
	border:solid 1px;
	width:900px;
	margin-right: 20px;
	margin-left: 20px;
	height:100px;
	line-height: 100px;
	text-align: center;
	font-size: 2.5em;
	font-weight: 700;
	font-family: sans-serif;
	color:white;
	background-color: grey;
}
.tagline2 {
	margin-right: 20px;
	margin-left: 20px;
	height:50px;
	border: solid 1px;
	width: 900px;
	line-height: 50px;
	text-align: center;
	font-size: 1.5em;
	font-family: sans-serif;
}
/*
================================
Body
================================
*/
.store-items {
	margin-left: 20px;
	margin-right: 20px;
	width:900px;
	max-height: 900px;
	border: solid 1px;
	position: absolute;
	padding: 30px;
	padding-left: 65px;




}
.store-items .item-1-3 {
	display: inline-block;
	width:30%;
	margin-right: 20px;
	margin-bottom: 20px;
	
	height:300px;
	border: solid 1px;
	background-color:#333333;
	position: relative;
}
.store-items .item-1-3 img{
height: 190px;
width: 150px;
position: relative;
width:100%;
}
.store-items .item-1-3 h3{
	text-align: center;
	color:white;
	position: relative;
	top: 7px;
}
.store-items .item-1-3 p{
position: relative;
left:170px;
top:15px;
border:solid 1px black;
width:40px;
background-color: white;
z-index: 1;

}


/*
================================
Footer
================================
*/
.contact {
	position: absolute;
	width:100%;
	left:0;
	bottom:0;
	height:70px;
}
















