html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*=================
Start of Rules after reset
===================*/
body{
	font-family: Open Sans,Helvetica;
	margin-bottom: 70px;
	min-height: 500px;

    background-image:url(Resources/Wood.jpg);
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;


}



/*
================================
Header
================================
*/
.navbar {
	margin:auto;
	position: relative;
	width: 900px;
	height:50px;
	line-height: 50px;
	vertical-align: middle;
	min-width: 900px;
	
	


	}
	.navbar .vks {
		padding-left:70px;
		font-size: 20px;
	}
	.navbar .ycart{
		font-size:20px;
		margin-right: 10px;


	}
.navbar a {
	text-decoration: none;
	color:white;
	vertical-align: middle;
	height:24px;
	line-height: 24px;
	text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.73);
}
.navbar img{
	height:24px;
	line-height: 24px;
	vertical-align: middle;
	padding-right: 10px;
	
	border-radius:5%;
	padding-top: 5px;
	padding-right:5px;
	background-color: rgb(252, 252, 252);

}
.cart {
	float:right;
	width:20%;
	display: inline-block;
	text-decoration: none;
}

.header-image {
	position:relative;
	margin:auto;
	width:900px;
	height:440px;
	
	border: solid 1px;
	min-width: 700px;

}


.header-image img {
	height: 100%;
	width:100%;

	
	
}
.header-image h1 {
	position: absolute;
	
	top:170px;
	
	left:50%;
	
	margin-left: -300px; 	
	letter-spacing: 3px;
	color: white;
	text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.73);
	font-size: 500%;
}
.taglines{
	margin:auto;
	width:900px;
}
.tagline1 {
	border:solid 1px black;
	
	
	height:100px;
	line-height: 100px;
	text-align: center;
	font-size: 2.5em;
	font-weight: 700;
	font-family: sans-serif;
	color:white;
	background-color: #3a4166;
}
.tagline2 {
	
	height:50px;
	border: solid 1px black;
	
	line-height: 50px;
	text-align: center;
	font-size: 1.5em;
	font-family: sans-serif;
	color: white;
	text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.73);
	background-color:rgba(51, 51, 51, 0.5);
}
/*
================================
Body
================================
*/
.store-items {
	margin:auto;
	width:900px;
	max-height: 900px;
	
	
	padding: 30px;
	padding-left: 65px;

	

}
.store-items .item-1-3 {
	display: inline-block;
	width:30%;
	margin-right: 20px;
	margin-bottom: 20px;
	
	height:300px;
	border: solid 1px;
	background-color:rgba(51, 51, 51, 0.5);
	position: relative;
}
.store-items .item-1-3 img{
height: 198px;
width: 235px;
margin-left: 2px;
padding-top: 7px;


}
.store-items .item-1-3 h3{
	text-align: center;
	color:white;
	margin-top: 23px;
	font-size: 1.2em;
	padding-bottom: 10px;
	text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.73);
}
.store-items .item-1-3 p{
position: absolute;
text-align: center;
left:195px;
top:56px;
border:solid 1px black;
width:47px;
background-color: white;
z-index: 1;
padding: 3px;

}
.store-items .item-1-3 input{
	text-orientation: none;
	background-color: #F6B26B;
	border: none;
	padding:7px;
	display: block;
	margin:auto;
	margin-top: 10px;
	width:100px;
	height:30px;
	font-size: 1em;



}
.store-items .item-1-3 input:hover {
	background-color: #a8611a;
	cursor: pointer;
	box-shadow: inset 0 0 5px #000000;
	color:#424242;
}
.pagination-div{
	width: 900px;
	margin:auto;
}
.pagination-div ul li{

display: inline-block;
color: black;
margin:5px;
text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.73);
	
	
}
.pagination-div ul{

text-align: center;	
color: black;


}
.pagination-div li a{
	color: white;
	margin:1px;
}
.pagination-div li a.active{
	text-decoration: none;
}    
.pagination-div li a:hover{
	color: black;
	cursor: pointer;
}
.pagination-div .quo{
	text-decoration: none;
}
.pagination-div li a.active:hover{
	color:white;
}

/*
================================
Footer
================================
*/
.contact {
	position: absolute;
	
	height:150px;
	width: 900px;
	text-align: center;
	margin:auto;
	left:0;
	right: 0;
	padding-top: 20px;

	border:solid 1px black;
	background-color:  #333333;
	color: white;
	color: #F6B26B;
}
.contact img{
	vertical-align: middle;
	display: inline-block;
	
	background-color: white;
	border:1px solid black;
	border-radius: 50%;
	padding-top: 12px;
	padding-bottom: 7px;
	margin-right: 5px;
	}

.contact h2{
	font-size: 1.1em;

}
.contact .horn{
	margin: auto;
	width: 300px;
	
	text-align: left;
	padding-left: 30px;
	
	padding-bottom: 5px;
	color: white;

}
.contact .email{
	
	margin:auto;
	width:300px;
	text-align: left;
	padding-left: 30px;
	padding-top: 5px;
	color:white;

}
.contact .email h2{
	display: inline-block;


}
.horn-icon{
	color: white;
}
.contact a{
	text-decoration: none;
	color: white;
}
.contact a:hover{
	color: black;
}

/*
========================
Sources Used
Icons -
Shopping Cart

By Edward Boatman of the nount project

Horn
By Veysel Kara, TR of the noun project

Scroll
By Rflor of the noun project

Thank you


Viking Ship - Cindy http://highlandheart-decor.tumblr.com/ 















